<div class="h-screen">
    <h2 class="text-center mt-16 sm:text-xl">Search for recipe or ingredients <br> <span class="text-xs sm:text-base">exampel:</span></h2>
    <div class="grid grid-cols-auto my-4 mx-7 sm:grid-flow-col sm:grid-rows-2 gap-4">
        <input type="text" [(ngModel)]="filter.query" placeholder="Chicken, Salmon" class="p-2 sm:col-span-3 sm:ml-20 border-solid border-2 text-center rounded-lg" >

         <select name="dishType" [(ngModel)]="filter.dishType" class="cursor-pointer p-2 sm:ml-20 rounded-lg">
            <option value="">Type of dish</option>
            <option value="Desserts">Desserts</option>
            <option value="Bread">Bread</option>
            <option value="Salad">Salad</option>
            <option value="Side_Dish">Side dishes</option>
            <option value="Starter">Starter</option>
            <option value="Soup">Soup</option>
        </select>

        <select name="health" [(ngModel)]="filter.health" class="cursor-pointer p-2 rounded-lg" >
            <option value="">Allergies</option>
            <option value="dairy-free">Lactose free</option>
            <option value="egg-free">Egg free</option>
            <option value="fish-free">Fish free</option>
            <option value="peanut-free">Peanut free</option>
            <option value="wheat-free">Gluten free</option>
            <option value="vegan">Vegan</option>
            <option value="vegetarian">Vegetarian</option>
        </select>

        <select name="diet" [(ngModel)]="filter.diet" class="cursor-pointer p-2 rounded-lg" >
            <option value="">Diet</option>
            <option value="high-fiber">High fiber</option>
            <option value="high-protein">High protein</option>
            <option value="low-carb">Low carb</option>
            <option value="low-fat">Low fat</option>
            <option value="balanced">Balanced</option>
        </select>

        <button type="button" (click)="searchRecipe()" class="bg-buttonbg md:w-20 rounded-lg sm:ml-2 p-2 flex justify-center items-center">
            <img src="../../assets/searchicon.svg" alt="search icon" class="h-6 ms:ml-2">
        </button>

    </div>
    <div class="mx-8 mb-12 mt-8 grid grid-cols-auto gap-4 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-7 xl:grid-cols-8">
        @for(recipe of recipes; track recipe){
            <article class="bg-cardbg">
                    <h3 class="font-bold text-center h-12">{{recipe.label}}</h3>
                    <img src="{{recipe.image}}" alt="recipe image"  class="h-[200px] px-2 w-full"/>
                    <div class="flex justify-center">
                        <div class="relative">
                            <p class="text-center border border-2 bg-buttonbg rounded-lg w-28 mt-4 mb-2 cursor-pointer z-20"><a [routerLink]="['/recipe', recipe.selfref | recipeidformatter]">Go to recipe</a></p>
                        </div>
                    </div>
            </article>
        }
    </div>
</div>

