<div class="h-screen">
    <div class="flex justify-center">
        <div class="bg-cardbg rounded-lg mt-32 mx-6 w-full sm:w-[500px]">

                <div class="text-center text-xl pt-2 font-bold">
                    Register Here
                </div>
                <div class="m-4 p-2 rounded-lg bg-main">
                    <form name="registrationsform" [formGroup]="registrationsForm" (ngSubmit)="submitRegistration()">

                        <div class="form-group">
                            <label for="name">Name</label><br>
                            <input type="text" class="form-control w-full p-3" id="name" formControlName="name" required placeholder="Enter name"><br>
                        </div>
                        <div class="alert alert-danger" [hidden]="!error.name">
                            {{ error.name }}
                        </div>

                        <div class="form-group">
                        <label for="email">Email</label><br>
                        <input type="email" class="form-control w-full p-3" id="email" formControlName="email" required placeholder="Enter email"><br>
                        </div>
                        <div class="alert alert-danger" [hidden]="!error.email">
                            {{ error.email }}
                        </div>

                        <div class="form-group">
                        <label for="password">Password</label><br>
                        <input type="password" class="form-control w-full p-3" id="password" formControlName="password" required placeholder="Password">
                        </div>
                        <div class="alert alert-danger" [hidden]="!error.password">
                            {{ error.password }}
                        </div>

                        <div class="form-group">
                            <label for="cpassword">Confirm Password</label><br>
                            <input type="password" class="form-control w-full p-3" id="cpassword" formControlName="password_confirmation" required placeholder="Confirm Password">
                        </div>
                        <div class="alert alert-danger" [hidden]="!error.password_confirmation">
                            {{ error.password_confirmation }}
                        </div>

                        <div class="flex items-center justify-end mt-6 mb-10 shadow-xl">
                            <button type="submit" [disabled]="!registrationsForm.valid" class="cursor-pointer block mt-1 w-full text-white text-center bg-loginBtn text-50 font-inter font-medium rounded-md p-2 hover:text-black hover:bg-loginBtn/80">
                                Create account
                            </button>
                        </div>

                    </form>
                </div>

        </div>
    </div>
</div>
